@using WebAppExam.Core.Entities;
@model IQueryable<Service>

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Service Table</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <a asp-action="Create" asp-controller="Service" class="btn btn-primary mt-4 mb-4">Create</a>
        <div class="mb-1">
            @TempData["Error"]
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>N#</th>
                        <th>Title</th>
                        <th>SubTitle</th>
                        <th>Description</th>
                        <th>Service Icon</th>
                        <th>Created Date</th>
                        <th>Updated Date</th>
                        <th>CRUD</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>N#</th>
                        <th>Title</th>
                        <th>SubTitle</th>
                        <th>Description</th>
                        <th>Service Icon</th>
                        <th>Created Date</th>
                        <th>Updated Date</th>
                        <th>CRUD</th>
                    </tr>
                </tfoot>
                <tbody>

                    @{
                        var count = 0;
                    }

                    @foreach (var item in Model)
                    {
                        count++;
                        if (item.IsDeleted == true)
                        {
                            <tr style="color: red;">
                                <td>@count</td>
                                <td>@item.Title</td>
                                <td>@item.SubTitle</td>
                                <td>@item.Description</td>
                                <td>
                                    @Html.Raw(item.IconUrl)
                                </td>
                                <td>@item.CreatedDate.ToString("hh:mm dd/MM/yyyy")</td>
                                <td>@item.UpdatedDate.ToString("hh:mm dd/MM/yyyy")</td>
                                <td>
                                    <a asp-route-id="@item.Id" asp-action="Update" asp-controller="Service" class="btn btn-warning mt-4 mb-4">Update</a>
                                    <a asp-route-id="@item.Id" asp-action="Detail" asp-controller="Service" class="btn btn-info mt-4 mb-4">Detail</a>
                                    <a asp-route-id="@item.Id" asp-action="Recover" asp-controller="Service" class="btn btn-success mt-4 mb-4">Recover</a>
                                    <a asp-route-id="@item.Id" asp-action="Remove" asp-controller="Service" class="btn btn-danger mt-4 mb-4">Remove</a>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@count</td>
                                <td>@item.Title</td>
                                <td>@item.SubTitle</td>
                                <td>@item.Description</td>
                                <td>
                                    @Html.Raw(item.IconUrl)
                                </td>
                                <td>@item.CreatedDate.ToString("hh:mm dd/MM/yyyy")</td>
                                <td>@item.UpdatedDate.ToString("hh:mm dd/MM/yyyy")</td>
                                <td>
                                    @if (User.IsInRole("Moderator"))
                                    {
                                        <a asp-route-id="@item.Id" asp-action="Detail" asp-controller="Service" class="btn btn-info mt-4 mb-4">Detail</a>
                                        <a asp-route-id="@item.Id" asp-action="Delete" asp-controller="Service" class="btn btn-danger mt-4 mb-4">Delete</a>
                                    }
                                    else
                                    {
                                        <a asp-route-id="@item.Id" asp-action="Update" asp-controller="Service" class="btn btn-warning mt-4 mb-4">Update</a>
                                        <a asp-route-id="@item.Id" asp-action="Detail" asp-controller="Service" class="btn btn-info mt-4 mb-4">Detail</a>
                                        <a asp-route-id="@item.Id" asp-action="Delete" asp-controller="Service" class="btn btn-danger mt-4 mb-4">Delete</a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>